{% extends "base.html" %}
{% block content %}
<h2>Maintenance Details</h2>
<ul class="list-group mb-3">
  <li class="list-group-item"><strong>ID:</strong> {{ object.id }}</li>
  <li class="list-group-item"><strong>Vehicle:</strong> {{ object.vehicle }}</li>
  <li class="list-group-item"><strong>Date:</strong> {{ object.date }}</li>
  <li class="list-group-item"><strong>Description:</strong> {{ object.description }}</li>
  <li class="list-group-item"><strong>Status:</strong> {{ object.status }}</li>
</ul>
<a class="btn btn-secondary" href="{% url 'maintenance-list' %}">Back to List</a>
{% if user.is_authenticated and (user.is_admin or user.is_manager or user.is_coordinator) %}
  <a class="btn btn-warning" href="{% url 'maintenance-update' object.id %}">Edit</a>
  <a class="btn btn-danger" href="{% url 'maintenance-delete' object.id %}">Delete</a>
{% endif %}
{% endblock %}
